@font-face {
font-family: 'Proxima';
src: url('../../public/fonts/Proxima/Mark\ Simonson\ \ Proxima\ Nova\ Regular.otf') format('opentype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Proxima';
src: url('/fonts/Proxima/Mark\ Simonson\ \ Proxima\ Nova\ Bold.otf') format('opentype');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'Proxima';
src: url('/fonts/Proxima/Mark\ Simonson\ \ Proxima\ Nova\ Light.otf') format('opentype');
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: 'Proxima';
src: url('/fonts/Proxima/Mark\ Simonson\ \ Proxima\ Nova\ Semibold.otf') format('opentype');
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'Proxima';
src: url('/fonts/Proxima/Mark\ Simonson\ \ Proxima\ Nova\ Thin.otf') format('opentype');
font-weight: 100;
font-style: normal;
}