@import './fonts.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-primary: #;
  --color-secondary: #10B981;
  --color-accent: #F59E0B;
  --color-text: #374151;
  --color-text-light: #6B7280;
  --color-text-dark: #1F2937;
  --color-background: #FFFFFF;
}

html,
#app,
#app>div {
  color: var(--color-text);
  height: 100%
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

.btn-primary {
  background-color: #2184f9cc;
  color: white;
  padding: .5rem 1.25rem;
  border-radius: .5rem;
  border-color: #2184f980;
  border-width: 1px;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #1c6ac9;
  box-shadow: 0rem 0.4rem .8rem #2184f980;
  border-color: #2184f9ff;
  padding: .5rem 1.25rem;
  border-radius: .5rem;
  border-width: 1px;
  transition: all .4s ease-out;
}